#imgSong {
  height: 80px;
  width: 130px;
  object-fit: contain;
  display: flex;
  margin-right: 30px;
}
/* .thisSong {
  background-color: darkgray;
} */

.song{
  display: flex;
  align-items: center;

}
.title{
  color: black;
}