#imgSong {
  height: 80px;
  width: 130px;
  object-fit: contain;
  display: flex;
  margin-right: 30px;
}
/* .thisSong {
  background-color: darkgray;
} */

.song{
  display: flex;
  align-items: center;
  align-items: stretch;
  width: 95%;
  margin-right: 30px;

}
.title{
  color: black;
}
@media screen and (max-width: 600px){
  .song{
    display: flex;
    align-items: center;
    align-items: flex-end;
    width: 95%;
    flex-direction: column-reverse;
    margin-right: 30px;
  }  
}