#PlaylistList {
  display: flex;
  flex-wrap:wrap ;
  margin: 2%;
  align-items: center;
  font-weight: normal;
  font-size: 32px;
  justify-content: flex-start;

}

.playlistName {
  margin: 10px;
}
.thisPlaylist {
  background-color: rgb(241, 238, 147);
}
