.playlistCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 260px;
  margin: 10px;
}

.playlistImg {
  height: 168px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: 100% 100%;
  object-fit: contain;
}
.songsNumber {
  color: rgb(0, 0, 0);
  font-family: "Kalam", cursive;
  font-size: 15px;
}
.renamePlaylist {
  height: 30px;
  cursor: pointer;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 20px;
  margin-right: 5px;
}
.renameAndDelete {
  display: flex;
}
.formRenamePlaylist {
  display: flex;
  margin-top: 7px;
}
.buttonRenamePlaylist {
  font-size: 12px;

  border: none;
  background-color: rgb(34, 174, 149);
  color: white;
  border-radius: 4px;
}
.inputRename {
  width: 117px;
  border: none;
  border-bottom: 2px solid rgb(34, 174, 149);
  font-size: 14px;
  margin-right: 3px;
}
.imgCard {
  width: 100%;
}
.playlistCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.nameSongCard {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  font-family: "Kalam", cursive;
  align-items: flex-end;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
.containerCard {
  padding: 2px 16px;
  padding-bottom: 8px;
  padding-top: 13px;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.iconPlay {
  height: 30px;
}
.iconDelete {
  height: 20px;
}
