.search{
    display:flex;
    height: 40px;
    width: 700px;
    
    }
    ._search{
        margin-left:7%;
        display: flex;
    
    }
    .link{
        color: black;
        text-decoration: none;
       font-family: 'Kalam', cursive;
       font-weight: 500;
       font-size:25px

    }
    .searchImg,
    .logoutImg{
        height: 30px;
    }