.video {
  margin-bottom: 20px;
  margin-top: 8%;

}
.songPage0{
  display: flex;
  justify-content: center;

}

.songPage {
  float: right;
  margin: 30px;
  /* margin-right: 80px; */
  margin-top: 10px;
  text-align: right;
}
