#SongsInPlaylist {
  height: 65vh;
  /* width: 40%; */
  width: 618px;
  overflow-y: scroll;
  margin-left: 60px;
  margin-top: 40px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56);
  border-radius: 10px;
}

.songs {
  display: flex;
  justify-content: space-between;
}
.thisSong {
  border: solid;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 0px 7px 0px;
}
.noSongs0 {
  display: flex;
  flex-direction: column;
}

.noSongs {
  font-family: "Kalam", cursive;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 50px;
  font-weight: bold;
}
.noSongs1 {
  font-family: "Kalam", cursive;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.imgHeadphones {
  object-fit: contain;
  height: 120px;
  margin-top: 74px;
}
